# Model weights are downloaded by fetch-models.mjs, never committed: 36.9 MB of binary that
# git would carry forever, and the licence permits redistribution but there is no reason to.
models/
node_modules/
